body {
 background-color: rgba(217, 228, 197, 0.986);
font-family:sans-serif;
h1 {
font-size:25px;
}
}
h1,h3 {
 color : blue ;
 font-family:cursive;
}
.tea{
  color: rgb(34, 29, 39);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
 color: saddlebrown;
}
#special{
  color: brawn;
}
span{
 color: rgb(79, 83, 79);
}
